{{#content}}
<div class="media tm-related-post">
  <div class="media-left media-middle">
	<a href="{{link}}">
	  <img class="media-object" src="{{imgpath}}" alt="{{alttext}}">
	</a>
  </div>
  <div class="media-body">
	<a href="{{link}}"><h4 class="media-heading tm-gold-text tm-margin-b-15">{{title}}</h4></a>
	<p class="tm-small-font tm-media-description">{{{description}}}</p>
  </div>
</div>
{{/content}}